BODY, P, UL, TD, TH, DIR, .bodyText {
    font-family: Arial, Helvetica, Verdana, Geneva, Arial, sans-serif;
    font-size : 10pt;
    color: #000000;
    background-color: #fdfecf;
}

h1  {font-size: 14pt/14pt; font-weight: bold; color: #CC0000;}

.head {font-size: 12pt; font-weight: bold; color: #990000;}

p.textbody {text-align: justify; line-height: 17pt;}

.font10pt {font-size: 10pt;}
.font12pt {font-size: 12pt;}

a:link {color: #996600; text-decoration: none;}

a:visited {color: #996600; text-decoration: none;}

a:hover {color: #CC0000; text-decoration: underline;}

a:active {color: #990000; text-decoration: none;}

#watermark_box {
position:relative;
display:block;
}

img.watermark {
position: absolute;
top: 1px;
left: 1px;
}