/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2018, 10:26:51 AM
    Author     : zamith
*/

/*body { background-color: #99EF99;}*/

@font-face {
    font-family: 'Ostrich'; /*a name to be used later*/
    src: url('Fontes/ostrich-regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Champagne'; /*a name to be used later*/
    src: url('Fontes/Caviar_Dreams_Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Caviar'; /*a name to be used later*/
    src: url('Fontes/CaviarDreams.ttf'); /*URL to font*/
}

body {background-image:url('Imagens/wood.jpg');}

h1 { 
    font-family: 'Champagne';
    font-size: 70px;
    -webkit-text-fill-color: #c596c4;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.2px; 
    background: url('Imagens/headerTrans.png') 0 0 repeat-x;
    position:relative;
    margin:0 0px;
    padding:0 10px;
    border-style: outset
}
h2 {
    color: black; 
    font-family: 'Ostrich'; 
    font-size: 1.9em; 
    text-decoration: underline
}
p { color: black; }
a { color: black; }
table { border-collapse:collapse; }
table, th, td { border: 1px solid black; }
th { background-color:#c596c4; color:black; }
td { text-align: center; }
td.esquerda { text-align: left; }
ul.erro { color: red; }
